.bg-image-vertical {
  position           : relative;
  overflow           : hidden;
  background-repeat  : no-repeat;
  background-position: right center;
  background-size    : auto 100%;
}

.logo-icon {
  width        : 30%;
  height       : 30%;
  margin-top   : 40px;
  margin-bottom: 90px;
}

.App {
  // padding-left: 30px;
}

@media (min-width: 1545px) {
  .h-custom-2 {
    height: 100%;
  }
}